section.calendar {
  padding: 16px;
  margin-bottom: 80px;
}

section.calendar article.day-of-the-week {
  display: flex;
  text-align: center;
  font-size: 12px;
  color: #8b8f9b;
  margin: 10px 0;
}

section.calendar article.day-of-the-week span.week {
  flex: 1;
}

section.calendar article.weekly-sum {
  display: flex;
  justify-content: flex-end;
  background: 12px #f9f9f9;
  font-size: 11px;
  padding-top: 2px;
  color: #222222;
}

section.calendar article.week {
  display: flex;
  margin: 11px 0;
}

section.calendar article.week div.days {
  flex: 1;
  flex-direction: column;
  color: #5a5b67;
  text-align: center;
}

section.calendar article.week div.days div.number {
  font-size: 13.5px;
}

section.calendar article.week div.days div.number.active {
  font-weight: bold;
  color: rgb(55, 196, 137);
}

section.calendar article.week div.days div.number.unselect {
  color: #dfdfdf;
}

section.calendar article.week div.days div.sum {
  font-size: 10px;
  -webkit-transform: scale(0.9);
  color: #8b8f9b;
  margin: 6px 0;
}
